
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

.venv/
venv/
env/
ENV/
.pyenv/

.mypy_cache/
.ruff_cache/
.pytype/

.pytest_cache/
.coverage
.coverage.*
.cache
coverage.xml
htmlcov/

.ipynb_checkpoints/

.idea/
.vscode/
*.code-workspace
*.swp
*.swo
*.orig

.DS_Store
Thumbs.db

# Keep only final .tex and .pdf under any homework's artifacts/
**/artifacts/**
!**/artifacts/*.tex
!**/artifacts/*.pdf
# Common LaTeX aux files (ignored everywhere)
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

**/.docker/
*.tar

*.tmp
*.bak
